@use "sass:math";
// Локальне підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
// Підключення шрифтів
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600&display=swap");
// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
:root {
  --color-primary: #ff6f61;
  --color-black: #1e2832;
  --color-white: #ffffff;
  --color-dark: #000000;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.375;
  text-transform: capitalize;
  font-size: 0.875rem;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
/* ====================================header top section=========================================== */
/* ========================================================================= */
// @mixin box($width: 100px, $height: 500px, $bgColor: green, $borderColor: red) {
// 	width: $width;
// 	height: $height;
// 	background-color: $bgColor;
// 	border: 1px solid $borderColor;
// }
// Застосування адаптив.
// .page {
// 	@include adaptiveValue("font-size", 48, 25);
// 	@include adaptiveValue("padding-top", 50, 10);
// }
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #f4f4f5;
  // .header__container
  &__container {
  }
  // .header__top-hat
  &__top-hat {
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #e3e3e3;
    padding-block: toRem(30);
    transition: padding-block 0.3s;
    column-gap: 20px;
    ._scroll & {
      padding-block: toRem(15);
    }
    @media (max-width: toEm(767.98)) {
      ._scroll & {
        padding-block: 0;
      }
    }
  }
}

// ==================================================================
.top-header {
  padding-top: toRem(30);
  padding-bottom: toRem(25);
  border-bottom: toRem(1) solid #e3e3e3;
  transition: padding-block 0.3s;
  @media (max-width: toEm(991.98)) {
    padding-block: toRem(15);
  }
  @media (max-width: toEm(700)) {
    border: none;
  }

  // .top-header__search
  &__search {
    & form {
      font-size: toRem(18);
      position: relative;
      display: flex;
      align-items: center;
      & input {
        flex-grow: 1;
        padding-left: toRem(45);
        @media (max-width: toEm(600)) {
          border-bottom: toRem(1) solid;
          transition: border-bottom 0.3s;
          &:focus {
            border-bottom: toRem(1) solid transparent;
          }
        }
      }
      & label {
        position: absolute;
        left: toRem(3);
        cursor: pointer;
        @media (max-width: toEm(700)) {
          font-size: toRem(22);
        }
      }
      & button {
        position: absolute;
        left: toRem(3);
        display: none;
        @media (max-width: toEm(600)) {
          font-size: toRem(22);
        }
      }
    }
  }
}
:is(input, a, button):focus-visible {
  outline: 0.0938rem solid red;
  border-radius: 0.5rem;
  outline-offset: 0.3125rem;
  @media (max-width: toEm(600)) {
    outline: none;
  }
}
/* ---- on-scroll animation ----- */
[data-animated] {
  transform: translate(1rem, 1rem);
  opacity: 0;
  transition:
    opacity 0.6s ease-in-out 0.3s,
    transform 0.6s ease-in-out 0.3s;
}

[data-animated].active {
  transform: translate(0, 0);
  opacity: 1;
}
// ==========================================

.top-header {
  // .top-header__search
  &__search {
  }
  // .top-header__icon
  &__icon {
    &::before {
      content: "";
      width: 30px;
      background-image: url(../img/icon/search.svg);
      background-position-y: 0.375rem;
      background-position-x: center;
      background-repeat: no-repeat;
      height: 1.875rem;
      aspect-ratio: 1;
      width: 100%;
    }
  }
  // .top-header__logo
  &__logo {
    flex-grow: 1;
  }
  // .top-header__snap
  &__snap {
  }
}
// ===================================================================================

.logo {
  // .logo__link
  &__link {
  }
}
.snap {
  display: flex;
  column-gap: 22px;
  @media (max-width: toEm(700)) {
    & span {
      display: none;
    }
  }
  // .snap__account
  &__account {
    display: flex;
    &::before {
      background: url(../img/icon/icon-man.svg) 0 0 / 100%;
    }
  }
  // .snap__shoping
  &__shoping {
    display: flex;
    &::before {
      background: url(../img/icon/bag.svg) 0 0 / 100%;
    }
  }
}
:is(.snap__account, .snap__shoping) {
  color: var(--Black, #1e2832);
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 8px;
    @media (max-width: toEm(700)) {
      margin-right: 0px;
    }
  }
}
.header {
  // .header__container
  &__container {
  }
  // .header__top-hat
  &__top-hat {
  }
}
.top-heder {
  // .top-heder__logo
  &__logo {
    @media (max-width: toEm(600)) {
      flex-grow: 1;
      width: 100%;
    }
  }
  // .top-heder__snap
  &__snap {
  }
}
.top-header {
  // .top-header__search-button
  &__search-button {
    position: relative;
    z-index: 2;
  }
}
.logo {
  // .logo__link
  &__link {
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.snap {
  // .snap__account
  &__account {
  }
  // .snap__shoping
  &__shoping {
  }
}
// =========================Navigation menu==========================
.header {
  // .header__navigation
  &__navigation {
  }
}
// =========icon-menu================menu burger=============
.body--lock {
  overflow: hidden;
}
.icon-menu {
  display: none;
  @media (max-width: toEm(700)) {
    & {
      position: relative;
      z-index: 5;
      display: block;
      width: toRem(26);
      height: toRem(24);
      cursor: pointer;
    }
    & span,
    &::before,
    &::after {
      right: 0;
      position: absolute;
      height: toRem(3);
      width: 100%;
      border-radius: toRem(10);
      background-color: var(--color-black);
      transition: all 0.3s;
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      width: 85%;
      top: 50%;
      transform: translate(0, -50%);
    }
    &._active span {
      transform: translate(500%, -50%);
    }
    &._active::before {
      content: "";
      width: toRem(32);
      transform: rotate(45deg) translate(toRem(9), toRem(6));
    }
    &._active::after {
      content: "";
      width: toRem(32);
      transform: rotate(-45deg) translate(toRem(9), toRem(-6));
    }
  }
}

// ========================= End Burger menu ================================
.navigation-body {
  @media (max-width: toEm(700)) {
    //burger body
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: toRem(110) toRem(50) toRem(20) toRem(15);
    @media (max-width: toEm(700)) {
      padding: toRem(50) toRem(30) toRem(20) toRem(15);
    }
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 100%
    );
    transition: right 0.3s;
    overflow: auto;
    &._active {
      right: 0;
    }
  }
  // .navigation-body__container
  &__container {
  }
  // .navigation-body__menu
  &__menu {
    padding-block: 1.875rem;
    transition: padding-block 0.4s;
  }
}
.menu-navigation {
  // .menu-navigation__list
  &__list {
    display: flex;
    column-gap: 1.875rem;
    row-gap: 0.9375rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: toEm(700)) {
      flex-direction: column;
      align-items: flex-end;
      font-size: toRem(20);
    }
  }
}
.list-menu {
  // .list-menu__item
  &__item {
  }
  // .list-menu__link
  &__link {
    color: var(--Dark, #000);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    text-transform: capitalize;
  }
}
.page__section:not(:last-child) {
  margin-block-end: clamp(3rem, 1.9925rem + 4.2989vw, 5.625rem);
}
.section-page {
  background-color: #f4f4f5;
  position: relative;
  // .section-page__container
  &__container {
    &::before {
      content: "";
      width: 6.9270833333%;
      height: 7.9102715466%;
      position: absolute;
      left: 0;
      bottom: 17%;
      width: 100%;
      overflow: hidden;
      max-width: 132px;
      background: url(../img/content_img/frame-l.svg) 0 0/100% no-repeat;
    }
    &::after {
      content: "";
      width: 11.15625%;
      height: 33.93270366%;
      position: absolute;
      background: url(../img/content_img/frame-r.svg) center / contain no-repeat;
      right: 0;
      bottom: 22%;
    }
    padding-block: 200px 70px;
    font-family: "Roboto", sans-serif;
  }
  // .page__block
  &__block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: toRem(98);
    row-gap: 15px;
    @media (min-width: 84.375em) {
      padding-bottom: 3.75rem;
    }
    @media (max-width: toEm(600)) {
      column-gap: toRem(10);
      flex-wrap: wrap;
    }
    @media (min-width: 84.375em) {
      padding-top: 3.75rem;
    }
  }
}
.block-page {
  // .block-page__section
  &__section {
    flex-basis: 682px;
    & :not(:last-child) {
      margin-bottom: toRem(52);
    }
    @media (min-width: 41.31125em) and (min-width: 84.375em) {
      padding-top: 3.9375rem;
    }
  }
  // .block-page__image
  &__image {
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    margin-right: 18px;
    min-width: 240px;
    flex: 0 1 424px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 20px;
      left: 18px;
      border: 2px solid rgba(0, 0, 0, 0.25);
      background-color: #f4f4f5;
      border-radius: 37.7358% 0rem; /* 160px/424 */
    }
    & img {
      border-radius: 37.7358% 0rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 0.7822;
      position: relative;
      z-index: 1;
    }
  }
}
.section-block {
  // .section-block__title
  &__title {
    font-weight: 300;
    @media (min-width: 84.375em) {
      font-size: 74px;
    }
    @media (min-width: 34.375em) {
      font-size: 44px;
    }
    @media (max-width: toEm(600)) {
      font-size: toRem(34);
    }
  }
  // .section-block__text
  &__text {
    line-height: 2.1;
    @include adaptiveValue("font-size", 30, 15);
    font-weight: 400;
    line-height: 1.833; /* 183.333% */
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: toRem(66);
    }
  }
  // .section-block__link
  &__link {
    display: inline-flex;
    padding: 19px 26px;
    // justify-content: center;
    // align-items: center;
    font-size: toRem(29);
    background: var(--Black, #1e2832);
    @media (max-width: toEm(600)) {
      padding: 10px 20px;
    }
  }
}
.link-section {
  // .link-section__item
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 29px;
    line-height: 1.17; /* 34/29 */
    color: white;
    @media (max-width: toEm(600)) {
      font-size: toRem(15);
    }
  }
}
.icon-shop {
  &::before {
    content: "";
    height: toRem(24);
    width: toRem(24);
    text-align: center;
    background: url(../img/icon/white-bag.svg) 0 0 / 100% no-repeat;
  }
}
// =====================Brands block================================
.page {
  & > *:not(:last-child) {
    margin-block-end: clamp(3rem, 3.2425rem + 4.2989vw, 7.875rem);
  }
  // .page__brands-block
  &__brands-block {
    &:not(:last-child) {
      margin-block-end: clamp(3rem, 1.9925rem + 4.2989vw, 5.625rem);
    }
  }
}
.brands-block {
  // .brands-block__container
  &__container {
  }
}
.brands {
  // .brands__list
  &__list {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: toEm(700)) {
      justify-content: center;
    }
  }
  // .brands__item
  &__item {
    align-items: center;
  }
}

// =============================Explore section====================================
.page {
  // .page__explore
  &__explore {
    &:not(:last-child) {
      margin-bottom: 126px;
    }
  }
}
.explore {
  // .explore__container
  &__container {
    position: relative;
    padding-inline: 15px;
  }
  // .explore__title
  &__title {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    margin-bottom: 0.7em;
    text-align: center;
    font-size: clamp(2.25rem, 1.932rem + 1.41vw, 3.125rem);
    font-weight: 500;
    @media (min-width: toEm(1390)) {
      position: absolute;
      top: 0;
      text-transform: uppercase;
      // left: -35px;
      writing-mode: vertical-lr;
      // transform: scale(-1, 1);
      transform: rotate(180deg);
      inset-block-start: -35px;
      inset-inline-start: 30px;
      font-size: 2.125rem;
      z-index: 2;
      white-space: nowrap;
    }
  }
  // .explore__grid
  &__grid {
    display: grid;
    gap: clamp(0.75rem, 7.3936px + 1.2282vw, 1.5rem);
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: toEm(800)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: toEm(500)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.block-style {
  // .block-style__item
  &__item {
    aspect-ratio: 1;
    position: relative;
    &:nth-child(1) {
      grid-area: span 2 / span 2;
    }
    @media (max-width: toEm(500)) {
      &:nth-child(1) {
        grid-area: span 1 / span 1;
      }
    }
    transition: all 0.4s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.336);
      }
    }
  }
}

.item-bs {
  // .item-bs__head
  &__head {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  // .item-bs__title
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(14px, 16.1616px + 1.0235vw, 18px);
    padding: 5px;
    color: #ffffff;
    background-color: #a1a1a4;
  }
  // .item-bs__stickers
  &__stickers {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 2;
  }
  // .item-bs__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.stickers {
  & > :not(:last-child) {
    margin-bottom: 5px;
  }
  // .stickers__item
  &__item {
    // .stickers__item--bg
    text-align: center;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 20, 10);
    padding: 5px;
    &--bg--hot {
      background-color: orange;
    }
    // .stickers__item--bg
    &--bg--sale {
      background-color: rgb(0, 0, 0);
      color: #f4f4f5;
    }
    // .stickers__item--bg
    &--bg--limited {
      background-color: rgba(255, 50, 50, 0.722);
    }
  }
}
// ==========================Preview layout===================================
.page {
  // .page__preview
  &__preview {
    &:not(:last-child) {
      margin-bottom: 126px;
    }
  }
}
.preview-section {
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  text-transform: capitalize;
  // .preview-section__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }
  // .preview-section__title
  &__title {
    font-size: 50px;
    font-weight: 500;
  }
  // .preview-section__head
  &__head {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  // .preview-section__layout
  &__layout {
    display: grid;
    gap: clamp(0.75rem, 0.4621rem + 1.2282vw, 1.5rem);
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: toEm(1180)) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: toEm(890)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: toEm(580)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.head-preview {
  // .head-preview__list
  &__list {
    color: #a1a1a4;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
    row-gap: 5px;
    flex-wrap: wrap;
  }
  // .head-preview__filter
  &__filter {
    color: white;
    background-color: #000;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    gap: 4px;
  }
}
.list-preview {
  // .list-preview__item
  &__item {
    flex-shrink: 0;
    &:hover {
      color: #000;
      font-weight: 600;
    }
  }
  // .list-preview__link
  &__link {
  }
}
.layout-preview {
  // .layout-preview__item
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 17px;
    aspect-ratio: 312/478;
    position: relative;
  }
}
.item-lp {
  // .item-lp__head
  &__head {
  }
  // .item-lp__title
  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    transition:
      color 0.2s,
      transform 0.2s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--color-primary);
      }
    }
    &:active {
      transform: scale(0.97);
    }
  }
  // .item-lp__overview
  &__overview {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  // .item-lp__stickers
  &__stickers {
    position: absolute;
    top: 5%;
    left: 0;
  }
}
.item-lp {
  @media (any-hover: hover) {
    &:hover img {
      transform: scale(1.1);
    }
  }
  picture {
    overflow: hidden;
  }
  // .item-bs__img
  &__img {
    transition: all 0.4s;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.overview {
  // .overview__text
  &__text {
  }
  // .overview__price
  &__price {
    display: flex;
    gap: 12px;
  }
}
.price-overview {
  // .price-overview--base
  &--base {
  }
  &--base--sale {
    color: rgb(162, 161, 161);
    text-decoration: line-through;
  }
  // .price-overview--sale
  &--sale {
    color: red;
  }
}
.stickers {
  // .stickers__item
  &__item {
    // .stickers__item--bg
    &--bg {
    }
    // .stickers__item--bg
    &--bg {
    }
    // .stickers__item--bg
    &--bg {
    }
  }
}

// ===============================Collection=============================================
.page {
  // .page__collection
  &__collection {
    &:not(:last-child) {
      margin-bottom: 126px;
    }
  }
}
.collection {
  position: relative;
  padding-top: 6.9375rem;
  background-color: #010204;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/content_img/bg.webp) 0 0 / contain no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    width: 42.25rem;
    height: 19.3125rem;
    top: 3.1875rem;
    right: 0;
    background: url(../img/content_img/bg-logo.webp) 0 0 / cover no-repeat black;
  }
  // .collection__container
  &__container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  // .collection__image
  &__image {
    z-index: 2;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // .collection__content
  &__content {
    position: relative;
    z-index: 10s;
    max-width: 31.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 3.4375rem;
    align-self: center;
    color: #ffff;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px; /* 153.846% */
    text-transform: capitalize;
  }
  // .collection__logo
  &__logo {
    width: 11.9375rem;
    height: 5.0625rem;
    position: relative;
    z-index: 100;
  }
  // .collection__text
  &__text {
    z-index: 5;

    font-size: 26px;
    font-weight: 400;
    line-height: 153.846%;
    text-transform: capitalize;
    @media (max-width: toEm(550)) {
      font-size: toRem(15);
    }
  }
  // .collection__button-wrapper
  &__button-wrapper {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  // .collection__button
  &__button {
    padding: 5px 10px;
    background-color: #ffff;
    color: black;
    @include adaptiveValue("font-size", 30, 15);
    margin-bottom: 10px;
    @media (min-width: toEm(700)) {
      padding: 19px 26px;
    }
  }
}
.parallax-item {
}
.active {
}
.button {
  // .button--light
  &--light {
  }
}

// ===================Collection  End====================================
// =================hovers======
.hover-color {
  transition:
    color 0.2s,
    transform 0.2s;
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary);
    }
  }
  &:active {
    transform: scale(0.97);
  }
}

// ===================Slider section======================================
/* slider */
.page {
  // .page__slider
  &__slider {
  }
}
.slider {
  @media (max-width: toEm(991.98)) {
    padding-block: toRem(30);
  }
  @media (max-width: toEm(479.98)) {
    padding-block: toRem(15);
  }
  // .slider__container
  &__container {
    display: flex;
    flex-direction: column;
    gap: toRem(35);
  }

  // .slider__title
  &__title {
    font-size: clamp(20px, 26.1616px + 1.0235vw, 50px);
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
  }

  // .slider__filter
  &__filter {
    display: flex;
    justify-content: space-between;
    gap: toRem(15);
  }

  // .slider__tab-buttons
  &__tab-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: toRem(40);
    row-gap: toRem(10);
  }

  // .slider__show-button
  &__show-button {
    max-height: toRem(32);
    flex-shrink: 0;
  }

  // .slider__swiper
  &__swiper {
    position: relative;
    overflow: hidden;
    display: grid;
  }

  // .slider__cards
  &__cards {
  }

  // .slider__card
  &__card {
    max-width: toRem(468);
    height: 100%;
    margin-top: auto;
  }

  // .slider__arrow
  &__arrow {
    width: toRem(70);
    height: toRem(70);
    border-radius: 50%;
    border: toRem(2) solid transparent;
    font-size: toRem(30);
    padding-left: toRem(5);
    color: rgba(255, 0, 0, 0.974);
    transition:
      border 0.2s,
      color 0.2s,
      background-color 0.2s;
    @media (any-hover: hover) {
      &:hover {
        border: toRem(2) solid var(--color-primary);
        color: var(--color-primary);
        background-color: rgba(30, 40, 50, 0.25);
      }
    }
    @media (any-hover: none) {
      border: toRem(2) solid var(--color-primary);
      color: var(--color-primary);
      background-color: rgba(30, 40, 50, 0.25);
    }

    &.swiper-button-prev {
      &::after {
        display: none;
      }
    }
    &.swiper-button-next {
      &::after {
        display: none;
      }
    }
    // .slider__arrow--prev
    &--prev {
      transform: rotate(180deg);
    }
  }
}

.has-all-button-tabs-2 {
}

.swiper-wrapper {
}

.swiper-slide {
}
// =============================Slider end====================
// ==============================Prpducts=================

/* products */
.page {
  // .page__products
  &__products {
  }
}
.products {
  @media (max-width: toEm(991.98)) {
    padding-block: toRem(30);
  }
  @media (max-width: toEm(479.98)) {
    padding-block: toRem(15);
  }
  // .products__container
  &__container {
    display: flex;
    flex-direction: column;
    gap: toRem(35);
  }

  // .products__title
  &__title {
  }

  // .products__filter
  &__filter {
    display: flex;
    justify-content: space-between;
    gap: toRem(15);
  }

  // .products__tab-buttons
  &__tab-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: toRem(40);
    row-gap: toRem(10);
  }

  // .products__filter-button
  &__filter-button {
    max-height: toRem(32);
  }

  // .products__cards
  &__cards {
    display: grid;
    justify-items: center;
    row-gap: toRem(24);
    column-gap: 1.82%;
    grid-template-columns: repeat(auto-fill, minmax(toRem(245), 1fr));
  }

  // .products__card
  &__card {
    max-width: toRem(468);
  }
}

.has-all-button-tabs-1 {
}

.tab-navigation {
}

.tab-button {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  text-transform: capitalize;
  &._active {
    color: var(--color-dark);
    pointer-events: none;
  }
}

.tab-items {
}

.tab-item {
  // display: none;
  // &._active {
  //   display: block;
  // }
}
/* Button */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: toRem(8);
  padding: toRem(21) toRem(26);
  font-size: toRem(29);
  line-height: 1;
  color: var(--color-white);
  text-transform: capitalize;
  background-color: var(--color-black);
  cursor: pointer;
  transition: background-color 0.2s;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-primary);
    }
  }
  &:active {
    transform: scale(0.98);
  }
  &--small {
    gap: toRem(4);
    padding: toRem(5) toRem(15);
    font-size: toRem(16);
  }
  &--light {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
.preview-section {
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    width: 100%;
  }
}
// =======================Card2===================
/* Tags */
.tags-card {
  display: flex;
  flex-direction: column;
  gap: toRem(10);
  // .tags-card__tag
  &__tag {
    padding: toRem(4) toRem(12);
    font-size: toRem(12);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-white);
    &--hot {
      background-color: var(--color-primary);
    }
    &--sale {
      background-color: var(--color-black);
    }
    &--new {
      color: var(--color-primary);
      background-color: var(--color-black);
    }
  }
}

/* Card category */
.card-category {
  // .card-category__link
  &__link {
    width: 100%;
    position: relative;
    @media (any-hover: hover) {
      &:hover .card-category__footer {
        opacity: 1;
        visibility: visible;
      }
    }
    @media (any-hover: none) {
      .card-category__footer {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // .card-category__tags
  &__tags {
    position: absolute;
    top: toRem(22);
    left: 0;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .card-category__footer
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem(15);
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 600;
    text-transform: capitalize;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
    @media (max-width: toEm(600)) {
      padding: toRem(8);
    }
    @media (max-width: toEm(479.98)) {
      padding: toRem(12);
    }
  }

  // .card-category__name
  &__name {
  }

  // .card-category__quantity
  &__quantity {
    display: flex;
    gap: toRem(6);
  }

  // .card-category__number
  &__number {
  }

  // .card-category__label
  &__label {
  }
}

.card-product {
  display: flex;
  flex-direction: column;
  gap: toRem(18);
  height: 100%;
  transition: box-shadow 0.2s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 toRem(5) rgba(128, 128, 128, 0.5);
    }
  }
  @media (any-hover: none) {
    border: toRem(1) solid rgba(128, 128, 128, 0.2);
  }
  // .card-product__image
  &__image {
    position: relative;
    @media (any-hover: hover) {
      &:hover .footer-product {
        opacity: 1;
        visibility: visible;
      }
    }
    @media (any-hover: none) {
      .footer-product {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 312 / 478;
  }

  // .card-product__tags
  &__tags {
    position: absolute;
    top: toRem(22);
    left: 0;
  }

  // .card-product__name
  &__name {
    flex-grow: 1;
    padding-inline: toRem(10);
    color: var(--color-dark);
    font-weight: 600;
    text-transform: capitalize;
  }

  // .card-product__details
  &__details {
    display: flex;
    justify-content: space-between;
    gap: toRem(10);
    padding-inline: toRem(10);
  }

  // .card-product__category
  &__category {
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    overflow-x: auto;
  }

  // .card-product__prices
  &__prices {
    display: flex;
    align-items: center;
    gap: toRem(12);
  }

  // .card-product__old-price
  &__old-price {
    color: rgba(0, 0, 0, 0.5);
    font-size: toRem(14);
    font-weight: 600;
    text-decoration: line-through;
    text-transform: capitalize;
  }

  // .card-product__price
  &__price {
    color: var(--color-dark);
    font-weight: 600;
    text-transform: capitalize;
  }

  // .card-product__price--new
  &__price--new {
    color: var(--color-primary);
  }

  // .card-product__footer
  &__footer {
  }
}
// ================================icon fons=========
/* Iconsfont */
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-slider-arrow::before {
  content: "\e90b";
}
._icon-up-arrow::before {
  content: "\e904";
}
._icon-user::before {
  content: "\e905";
}
._icon-send::before {
  content: "\e906";
}
._icon-filter::before {
  content: "\e907";
}
._icon-cart::before {
  content: "\e908";
}
._icon-search::before {
  content: "\e909";
}

// ===============================iconfonts end=======
// ===================================portfolio========
.page {
  // .page__portfolio
  &__portfolio {
  }
}
.portfolio {
  color: var(--Dark, #000);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-size: clamp(14px, 25.88px + 4.2989vw, 50px);
  font-weight: 500;
  text-transform: capitalize;
  // .portfolio__container
  &__container {
    padding-block: 6.25rem;
    & > *:not(:last-child) {
      margin-block-end: clamp(20px, 41.88px + 4.2989vw, 70px);
    }
  }
  // .portfolio__title
  &__title {
  }
  // .portfolio__body
  &__body {
  }
  // .portfolio__subtitle
  &__subtitle {
  }
  // .portfolio__form
  &__form {
    max-width: toRem(760);
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    gap: toRem(26);
    & input {
      padding: toRem(13);
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: clamp(12px, 15.88px + 4.2989vw, 18px);
      border-bottom: toRem(2) solid var(--color-black);
      outline: none;
      &:focus-visible {
        border-radius: 0;
        color: #ff6f61;
        // border-bottom: none;
        // background-color: #f4f4f4;
      }
    }
    &:focus::placeholder {
      opacity: 0;
    }
    &::placeholder {
      color: rgba(30, 40, 50, 0.5);
      text-transform: capitalize;
      transition: opacity 0.3s;
    }
  }
}
.layout-portfolio {
  display: flex;
  // .layout-portfolio__items
  &__items {
    display: flex;
    column-gap: 24px;
    row-gap: 10px;
    // overflow-x: auto;
    // scroll-snap-type: x mandatory;
    @media (max-width: toEm(1100)) {
      flex-wrap: wrap;
      justify-content: center;
      font-weight: 600;
      column-gap: clamp(5px, 9.88px + 4.2989vw, 18px);
    }
  }
  // .layout-portfolio__item
  &__item {
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.1);
      }
    }
    aspect-ratio: 1 / 1;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: toEm(1200)) {
      flex: 1 1 200px;
    }
  }
}
.item-link {
  // .item-link__link
  &__link {
    overflow: hidden;
  }
  // .item-link__image
  &__image {
    transition: all 0.3s;
  }
}
.button-submit-wrapper {
}
.button-submit {
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  font-size: clamp(14px, 15.88px + 4.2989vw, 18px);
  font-weight: 400;
}
._icon-send {
}

// ===================================================
// =========================iNfo block==============
.footer {
  // .footer__container
  &__container {
    padding-top: toRem(140);
    padding-bottom: toRem(90);
    @media (max-width: toEm(767.98)) {
      padding-top: toRem(40);
      padding-bottom: toRem(30);
    }
  }
}
.info {
  // .info__grid
  &__flex {
    display: flex;
    gap: clamp(15px, 25.88px + 4.2989vw, 56px);
    color: #505963;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    @media (max-width: toEm(450)) {
      gap: toRem(10);
    }
  }
  // .info__item
  &__item {
    flex: 1 1 29.7%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.item-info {
  // .item-info__logo
  &__logo {
    & img {
      width: 100%;
      height: 100%;
    }
  }
  // .item-info__text
  &__text {
  }
  // .item-info__socials
  &__socials {
  }
  // .item-info__content
  &__content {
    display: flex;
    justify-content: space-around;
    flex: 1 1 69.3%;
    column-gap: 10px;
    // column-gap: clamp(15px, 30.88px + 4.2989vw, 45px);
    row-gap: 10px;
    &._init {
      .content-menu__title::before {
        content: "\e90b";
        font-family: icons;
        transform: rotate(90deg);
        transition: transform 0.3s;
      }
      .content-menu__title._active::before {
        transform: rotate(270deg);
      }
    }
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
.content {
  // .content__social
  &__social {
  }
  // .content__social-link
  &__social-link {
  }
}
.content-menu {
  // .content-menu__column
  &__column {
    @media (max-width: toEm(767.98)) {
      &:not(:first-child) {
        margin-top: toRem(25);
      }
    }
  }
  // .content-menu__title
  &__title {
    color: var(--Dark, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    @media (max-width: toEm(767.98)) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      gap: toRem(20);
      margin-bottom: toRem(8);
      font-size: toRem(22);
    }
  }
  // .content-menu__list
  &__list {
    & > *:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  // .content-menu__item
  &__item {
  }
  // .content-menu__link
  &__link {
  }
}
// =========================iNfo block end==============
// ========================payment block================
.footer {
  // .footer__paymant-block
  &__paymant-block {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

.paymant-block {
  @include adaptiveValue("font-size", 18, 12);
  // .paymant-block__container
  &__container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-block: 14px;
  }
  // .paymant-block__block-inc
  &__block-inc {
    padding: 5px 15px;
  }
  // .paymant-block__block-inc
  &__block-inc {
  }
  // .paymant-block__image
  &__image {
    aspect-ratio: 283 / 23;
    max-width: 21.4%;
  }
  // .paymant-block__icon
  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  // .paymant-block__scroll
  &__scroll {
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    & span {
      display: flex;
      column-gap: 8px;
      flex-shrink: 0;
      align-items: center;
    }
    & span::after {
      content: "";
      width: 16px;
      height: 16px;
      background: url(../img/icon/button-arrowup.svg) center / contain;
    }
  }
}

// =============================================
