@import url("https://fonts.googleapis.com/css?family=Exo:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,500,700&display=swap");
@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	color: #090000;
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	background: var(--Theme-Light, #f8f8f8);
	row-gap: 80px;
	/* row-gap: 80px; тут від хедера відстп 30 и 70 від банера але ми не робимо частину тому так */
}

.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1320px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px auto;
}
/* ====================================header top section=========================================== */
.header__top-row {
	padding: 15px 0px;
}
.header > *:not(:last-child) {
	margin-bottom: 27px;
}
.header {
	margin-bottom: 70px;
}
.row-top {
}
.row-top__container {
	display: flex;
	color: var(--Theme-Grey, #535353);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
}
[class*="--margin"] {
	margin-right: 27.4%;
}

.section-about__items {
	display: inline-flex;
	align-items: flex-start;
	gap: 30px;
}

/* =======Це експеремент============ */
.link-about__link::first-letter {
	text-transform: uppercase;
}
/* ========================== */
.link-about:hover .link-about__link {
	will-change: scale;
	transform: scale(1.05);
	transition: all 0.3s;
}
.section-consult {
	display: flex;
	gap: 20px;
}
.section-consult__social {
	margin-right: 10px;
}
.social {
	display: flex;
	gap: 10px;
}

.section-consult__language {
	text-transform: uppercase;
	display: flex;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}
.language::after {
	content: "";
	width: 19px;
	height: 19px;
	background: url(../img/icon/arrowb.svg);
	transform: rotate(90deg);
	align-self: center;
}
/* .section-consult__language:hover .language::after {
	transform: rotate(-90deg);
} */
/* ==========================midle row======================================= */
.menu {
}
.menu__button {
	background-color: rgb(255, 188, 87);
	border-radius: 5px;
	padding: 11px 20px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 19px;
	font-weight: 600;
	line-height: 126%;
	color: #fff;
}
.menu__button::before {
	content: "";
	width: 24px;
	height: 24px;
	background: url(../img/icon/menu-catalog.svg) 0 0 / 100% no-repeat;
}
.menu__button:hover:before {
	transform: rotate(90deg);
	transition: all 0.3s;
}
.row-middle__container {
	color: var(--Theme-Grey, #535353);
	font-weight: 400;
	display: flex;
	gap: 30px;
}
.menu-serch {
	display: flex;
	border-radius: 8px;
	width: 421px;
	border: 1px solid var(--Theme-Grey-light, #b1b1b1);
}
.menu-serch__text {
	/* flex: 1 0 421px; */
	padding: 6.66px 15px;
	color: var(--Theme-Grey-light, #b1b1b1);
	font-size: 16px;
	line-height: 187.5%;
	margin-right: 250px;
}
.menu-serch__serch-icon {
	display: flex;
}
.menu-serch__serch-icon::after {
	content: "";
	width: 24px;
	height: 24px;
	background: url(../img/icon/serch.svg) 0 0 / 100% no-repeat;
	align-self: center;
}
.middle-row__telephone {
	display: inline-flex;
	gap: 10px;
	flex: 1 0 auto;
}
.telephone__img {
	width: 50px;
}
.telephone__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.telephone__arrow {
	display: flex;
}
.telephone__arrow::after {
	content: "";
	width: 24px;
	height: 24px;
	background: url(../img/icon/arrowd.svg);
	align-self: center;
}
.info {
}
.info__daily {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
}
.info__number {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	color: var(--Theme-Dark, #2b2929);
}
.middle-row__icon {
	display: flex;
	gap: 20px;
}
/* =============================================================================== */
.section__title {
	font-size: 24px;
	font-weight: 700;
}
.section__title:not(:last-child) {
	margin-bottom: 20px;
}
.section__items {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.section__item {
	flex-basis: 250px;
	flex-grow: 1;
}
.item-section {
	background-color: #169af9;
	bottom: 15px;
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	display: flex;
	flex-direction: column;
}
.item-section__title {
	font-size: 20px;
	font-weight: 700;
}
.item-section > * {
	margin-bottom: 10px;
}
.item-section:last-child {
	margin-bottom: 0px;
}
.item-section__text {
	flex-grow: 1;
}
.item-section__link {
	color: blue;
}
.link {
	color: #000000;
	display: flex;
	align-items: center;
	gap: 10px;
}
.link::before {
	content: "";
	width: 40px;
	height: 40px;
	background-color: blueviolet;
	border-radius: 50%;
	flex-shrink: 0;
	align-self: flex-start;
}
/* ======================header bottom row============================== */
.header__bottom-row {
	padding: 18px 0px;
}
.row-bottom {
}
.row-bottom__container {
}
.bottom-section {
	display: flex;
	gap: 112px;
}
[class*="bottom-section__"] {
	display: flex;
	gap: 40px;
	font-size: 19px;
	font-weight: 600;
	line-height: 127%;
	color: var(--Theme-Grey, #535353);
}
.bottom-section__left {
}
.offers {
}
.offers__stock {
}
[class*="offers__"] {
	display: flex;
	gap: 10px;
	transition: all 0.3s;
}
[class*="offers__"]::before {
	content: "";
	width: 24px;
	height: 24px;
}
.offers__stock::before {
	background: url(../img/icon/promotion.svg) 0 0 / 100% no-repeat;
}
.offers__sales::before {
	background: url(../img/icon/sale.svg) 0 0 / 100% no-repeat;
}
.offers__credit::before {
	background: url(../img/icon/credit.svg) 0 0 / 100% no-repeat;
}
.offers__sales {
}
.offers__credit {
}
.bottom-section__right {
}
.room {
}
[class*="offers__"]:hover {
	will-change: scale;
	transform: scale(1.03);
}
.room__item {
	transition: all 0.3s;
}
.room__item:hover {
	will-change: scale;
	transform: scale(1.03);
}
/* ======================================================================== */
/* =============================main======================================== */

.popular__container > *:not(:last-child) {
	margin-bottom: 25px;
}
.popular {
	margin-bottom: 70px;
}
.title {
	font-size: 35px;
	line-height: 1.15;
}
.popular__items {
	display: flex;
	row-gap: 24px;
	column-gap: 10px;
	flex-wrap: wrap;
}
.popular__item {
	border-radius: 5px;
	flex: 0 1 250px;
	position: relative;
	border-radius: 8px;
	background: #fff;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}
.popular__item:hover {
	box-shadow:
		0.8px 0.8px 10px rgba(0, 0, 0, 0.037),
		6px 6px 80px rgba(0, 0, 0, 0.07);
}
.popular__item:hover .link-popular__image {
	will-change: scale;
	transform: scale(1.03);
}

.item {
}
.item__content {
	display: flex;
	margin-bottom: -60px;
}
.item__text {
	flex: 1 1 auto;
}
.item__content > * {
	padding: 20px;
}
.item__number {
}
.item__link {
}
.link-popular {
}
.link-popular__image {
	transition: all 0.5s;
}
.item__content::after {
	content: "";
	width: 50px;
	height: 50px;
	right: 20px;
	bottom: 20px;
	z-index: 50;
	position: absolute;
	background: url(../img/icon/arrow.svg) 0 0 / 100% no-repeat;
}
/* ========================================================================= */

.products__items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.item__products {
	flex: 0 1 250px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}
.item__products > *:not(:last-child) {
	margin-bottom: 20px;
}
.item__products:hover .item__image {
	will-change: scale;
	transform: scale(1.03);
}
.item__products:hover {
	box-shadow:
		0.8px 0.8px 10px rgba(0, 0, 0, 0.037),
		6px 6px 80px rgba(0, 0, 0, 0.07);
}
.mp-products {
}
.mp-products__container {
}
.products {
}
.products__title {
	display: flex;
	gap: 30px;
	color: var(--Theme-Dark, #2b2929);
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 40px;
}
.products__subtitle {
	color: var(--Theme-Yellow, #ffbc57);
	font-size: 19px;
	font-weight: 600;
	line-height: 126.316%;
	align-self: center;
}
.products__subtitle::after {
	content: "";
	width: 24px;
	height: 24px;
	background: url(../img/icon/arrow3.svg) 0 0 / 100% no-repeat;
	margin-left: 10px;
	vertical-align: middle;
	transition: all 0.3s;
}
.products__subtitle:hover:after {
	will-change: rotate;
	transform: rotate(90deg);
}
.item {
}
.item__image {
	transition: all 0.3s;
}
.item__description {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--Theme-Grey, #535353);
	font-size: 13px;
	font-weight: 300;
	line-height: 169.231%;
}
.description {
}
.description__info {
}
.description__text {
	color: var(--Theme-Dark, #2b2929);
	font-size: 19px;
	font-weight: 600;
	line-height: 126.316%;
	flex: 1 0 52px;
}
.description__status::before {
	content: "";
	width: 24px;
	height: 24px;
	background: url(../img/icon/check.svg) 0 0 / 100% no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}
.description__status {
	min-height: 24px;
}
.item__price {
	display: flex;
	gap: 47px;
}
.price-item {
}
.price-item__box {
	align-self: center;
}
.price {
}
.price__was {
}
[class*="__was"] {
	color: #e03d3d;

	font-size: 15px;
	font-weight: 400;
	line-height: 146.667%;
	text-decoration: line-through;
}
.price__became {
}
.price-item__icons {
	display: flex;
	gap: 10px;
}
.icon {
}
/* ====================================footer ===================================== */
.footer {
}
.stock {
}
.stock__container {
}
.stock__saction {
}
.products {
}
.products__block {
	display: flex;
	justify-content: space-between;
}
.products__title {
}
.products__subtitle {
}
.products__switch {
	display: flex;
	gap: 20px;
}
.switch {
}
.switch__item--left {
}
.switch__item--right {
}
[class*="switch__item"]:hover > * {
	transition: all 0.3s;
	transform: scale(1.5);
}
.stock__block {
	display: flex;
	gap: 30px;
}
.block-stock {
}
.block-stock__item {
	transition: all 0.5s;
}
.block-stock__item:hover {
	will-change: scale;
	transform: scale(1.05);
}
