@import url("https://fonts.googleapis.com/css?family=Exo:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,500,700&display=swap");
@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	color: #ffffff;
	text-align: left;
	line-height: 1;
	height: 100%;
	background: #508ae7;
}
.navigation {
	text-align: center;
}
.up {
	font-size: 64px;
	margin-bottom: 114px;
}
.footer_wrapper {
	margin: 0px auto;
	max-width: 318px;
}
.mark {
	display: inline-block;
	font-size: 60px;
	line-height: 150%;
}
.mark:hover {
	color: rgb(207, 251, 30);
}
.rastr {
	margin-left: -600px;
	display: inline-block;
}
.mid {
	display: inline-block;
}
.mid_1 {
	margin-left: 600px;
}
.page {
	max-width: 100%;
	margin-bottom: 60px;
}
.items {
	max-width: 1550px;
	margin: 0px auto;
	padding: 0px 15px;
}
.item {
	padding: 5px;
	border-radius: 5px;
}
.item:not(:last-child) {
	margin-bottom: 20px;
}
picture {
}

.footer {
	max-width: 100%;
}
.item p {
	display: inline-block;
	padding: 5px;
	line-height: 1.2;
	font-size: 20px;
}
img {
	vertical-align: middle;
	margin-right: 20px;
}
