@import url("https://fonts.googleapis.com/css?family=Roboto+Serif:regular,500,600&display=swap");
@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	line-height: 2;
	color: #2b2929;
	text-align: center;
}
.up {
	font-size: 64px;
}
.container {
	display: block;
}
.block_wrapper {
	display: block;
	max-width: 1320px;
	margin: 0 auto;
	overflow: hidden;
}
.link_title {
	margin-bottom: 60px;
}
.link_text {
	color: #000;
	font-size: 50px;
	font-style: normal;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	line-height: normal;
}
.link_wrapper {
	margin: 0px -12px 70px;
	font-size: 0;
}
.link {
	display: inline-block;
	padding: 0px 12px;
	box-sizing: border-box;
}
.link_item {
	max-width: 100%;
}
/* Оформлення вітальні */
footer {
	max-width: 1920px;
	display: block;
	color: #2b2929;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
}
.Krovato {
	display: block;
	max-width: 1070px;
	margin: 0 auto;
}
.title_block {
	min-height: auto;
	margin-bottom: 3.55%;
}
.ligka {
	color: #2b2929;
	font-size: 40px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	line-height: 48px;
}
.kimnata {
	align-items: center;
	max-width: 100%;
	margin-bottom: 3.55%;
}
.vitalnya {
	width: 100%;
	max-width: 1070px;
	margin-bottom: 2.61%;
}
.vitalnya_text {
	margin-bottom: 0.93%;
	font-size: 16px;
}
.vitalnya_2 {
	margin-bottom: 3.55%;
}
.subtitle {
	font-size: 20px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 600;
	line-height: 28px;
}
.vitalnya_3 {
	margin-bottom: 3.55%;
}
.item_krovato {
	margin-bottom: 1.87%;
	padding-left: 4.39%;
}
.vitalnya_text {
	text-align: left;
	line-height: 30px;
}
.items {
}
.item_icons {
}

.dicription_container {
	display: block;
	max-width: 1920px;
}
.discription_wraper {
	max-width: 1290px;
	margin: 0 auto;
	font-size: 0;
}
.icon-description {
	display: inline-block;
	max-width: 300px;
	vertical-align: top;
	display: inline-block;
	padding: 0px 15px;
	font-size: 16px;
}
.quality {
	margin-bottom: 20px;
}
.icon-text {
	margin-top: 0;
	text-align: center;
	line-height: 30px;
	letter-spacing: 0;
	color: #2b2929;
}
.uppercase {
	text-transform: uppercase;
	font-size: 40px;
}
.krovato_tse {
	min-width: 18.44%;
	display: inline-block;
	font-size: 20px;
	line-height: 48px;
	margin-bottom: 3.1%;
}
.icon-subtitle {
	margin-bottom: 20px;
	font-size: 26px;
}
