@use "sass:math";
// Локальне підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,600,700&display=swap");
// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1272;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
body {
  font-family: "Exo", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 100%, 0%);
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1302px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
/* ====================================header top section=========================================== */
/* ========================================================================= */
// @mixin box($width: 100px, $height: 500px, $bgColor: green, $borderColor: red) {
// 	width: $width;
// 	height: $height;
// 	background-color: $bgColor;
// 	border: 1px solid $borderColor;
// }
// Застосування адаптивної властивості
// .page {
// 	@include adaptiveValue("font-size", 48, 25);
// 	@include adaptiveValue("padding-top", 50, 10);
// }
.header {
  // .header__container
  &__container {
  }
  // .header__body
  &__body {
    position: static;
    left: 0;
    top: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    column-gap: 102px;
    row-gap: 10px;
    align-items: center;
    flex-shrink: 0;
    display: flex;

    padding-top: 60px;
    padding-bottom: 30px;
    @media (max-width: 991.98px) {
    }
    @media (max-width: 991.98px) {
      column-gap: 10px;
    }
    @media (max-width: 599.98px) {
      padding-top: 10px;
    }
  }
  // .body-header__burger
  &__burger {
  }
}
.body-header {
  // .body-header__title
  &__title {
    // font-family: "Exo", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 66.667%;
    letter-spacing: -3px;
    position: sticky;
    flex-shrink: 0;
    left: 0;
    top: 0;
    z-index: 200;
    @media (max-width: 1025.98px) {
      flex: 1 0 auto;
    }
  }
  // .body-header__menu
  &__menu {
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    padding: 10px;
    align-items: center;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }
  // .body-header__socials
  &__socials {
    display: flex;
    flex-shrink: 0;
    row-gap: 5px;
    column-gap: 19px;
    @media (max-width: 1025.98px) {
      padding: 20px;
      align-items: center;
      justify-content: center;
    }
  }
}
.menu-header {
  // .menu-header__item
  &__item {
    @media (max-width: 991.98px) {
      font-size: 24px;
      line-height: 110%;
    }
    & .item__link {
      transition: all 0.3s;
      @media (any-hover: hover) {
        &:hover {
          background: linear-gradient(to right, #30cfd0 0%, #7a0cff 100%);
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
.item {
  // .item__link
  &__link {
    font-family: Orbitron;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1, 25;
    text-transform: uppercase;
  }
}
.menu-icon {
  display: none;
}
.menu-icon {
  @media (max-width: 991.98px) {
    display: block;
    position: relative;
    height: 18px;
    width: 30px;
    flex-shrink: 0;
    z-index: 102;
    align-self: center;
    &::before,
    &::after,
    & span {
      content: "";
      height: 3px;
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      background-color: #ffeaea;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: 50%;
      transform: translate(0px, -50%);
    }
  }
}
.socials {
  // .socials__item
  &__item {
  }
  // .socials__link
  &__link {
    & img {
      width: 20px;
      height: 20px;
      transition: all 0.3s;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.3);
      }
    }
  }
}
.menu-open {
  & .menu-icon {
    &::before {
      transform: rotate(-45deg);
      top: 50%;
      margin-top: -1px;
    }
  }
  & .menu-icon {
    &::after {
      transform: rotate(45deg);
      bottom: 50%;
      margin-bottom: -2px;
    }
  }
  & body {
    overflow: hidden;
  }
  & .menu-icon span {
    transform: scale(0);
  }
}

.body-header {
  &__burger {
    display: none;
  }
  // .body-header__burger
  @media (max-width: 991.98px) {
    .menu-open &__burger {
      right: 0;
      &::before {
        right: 0;
      }
    }
    &__burger {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      transition: all 0.5s;
      width: 100%;
      height: 100%;
      background-color: #0b0139ea;
      z-index: 100;
      overflow: auto;
      padding-top: 50px;
      padding-bottom: 30px;
      &::before {
        content: "";
        position: fixed;
        top: 0;
        right: -100%;
        transition: all 0.3s;
        width: 100%;
        height: 50px;
        background-color: #0b01397a;
        z-index: 103;
      }
    }
  }
}
.burger-header {
  // .burger-header__container
  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
    @media (max-width: 601.98px) {
      align-items: center;
    }
  }
}
.menu-open .body-header__burger {
  right: 0;
}
.menu-open .body-header__burger::before {
  right: 0;
}
.menu-open {
  & .wrapper {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: #000000c8;
      filter: blur(50px);
    }
  }
}
// ===================================main page================================================
.page {
  & > :not(:last-child) {
    margin-bottom: 110px;
  }
  // .page__container
  &__container {
    display: flex;
    column-gap: 35px;
    justify-content: space-between;
    position: relative;
  }
}
.hero {
  font-family: "Exo", sans-serif;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 430px;
    background: linear-gradient(
      90deg,
      hsla(276, 98%, 48%, 0.753) 0%,
      hsla(104, 98%, 50%, 0.6) 36.9%,
      hsla(0, 100%, 50%, 0.6) 67.4%,
      hsla(227, 100%, 50%, 0.89) 100%
    );
    opacity: 0.3;
    filter: blur(100px);
    transform: rotate(90deg);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    z-index: -15;
  }
  &::after {
    right: 35px;
    bottom: 30px;
    animation: gradient-ball 12s ease infinite;
  }
  &::before {
    left: 35px;
    top: 30px;
    animation: gradient-ball2 12s ease-in infinite;
  }

  // .hero__text
  &__text {
    flex: 0 584px;
    flex-direction: column;
    text-transform: uppercase;

    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
    @media (max-width: 500px) {
      flex: 233px;
    }
  }
  // .hero__name
  &__name {
    position: relative;
    display: inline-flex;
    text-align: left;
    font-weight: 400;
    line-height: 1.11;
    letter-spacing: -1px;
    font-size: clamp(0.875rem, 0.7935336049rem + 0.4073319756vw, 1.125rem);
    padding-right: 32px;
    padding-bottom: 10px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
    }
  }
  // .hero__title
  &__title {
    font-size: 80px;
    font-weight: 700;
    line-height: 0.9;
    transition: all ease 0.5s;
    & {
      @include adaptiveValue("font-size", 80, 32);
    }
    @media (any-hover: hover) {
      &:hover {
        background: linear-gradient(to right, #30cfd0 0%, #8200ce 100%);
        background-clip: text;
        color: transparent;
      }
    }
  }
  // .hero__sabtitle
  &__sabtitle {
    font-style: normal;
    line-height: 222.222%;
    letter-spacing: -0.36px;
    text-transform: capitalize;
    & {
      @include adaptiveValue("font-size", 18, 14);
    }
  }
  // .hero__batton
  &__batton {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 15px 60px;
    position: relative;
    max-width: 253px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    background-color: #500478;
    transition: all 0.3s;
    font-size: 14px;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    @media (any-hover: hover) {
      &:hover {
        background-color: #5004e9a1;
      }
    }
    @media (max-width: 599.98px) {
      width: 100%;
      padding: 8px 40px;
      max-width: 173px;
    }
  }
  // .hero__image
  &__image {
    position: relative;
  }
}
.batton {
}
.hero {
  // .hero__image
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: flex-end;
    flex: 0 1 688px;
    margin-right: -62px;
    @media (max-width: 700px) {
      flex: 0 0 30%;
      margin-right: -15px;
      justify-content: flex-end;
      padding-bottom: 7px;
      padding-top: 26%;
    }
  }
}

.image-hero {
  // .image-hero__main-foto
  &__main-foto {
    position: relative;
    width: 55%;
    z-index: 1;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 376 / 508;
  }
  &__decoration {
    // .image-hero__decoration--left
    &--left {
      aspect-ratio: 315 / 377;
      @media (min-width: 700.98px) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 46%;
      }
      @media (max-width: 699.98px) {
        width: 100%;
        height: 109px;
      }
    }
    // .image-hero__decoration--right
    &--right {
      @media (min-width: 700.98px) {
        display: block;
        position: absolute;
        bottom: 0;
        width: 42%;
        aspect-ratio: 286 / 321;
        right: 0;
      }
      @media (max-width: 699.98px) {
        display: none;
      }
    }
  }
  // .image-hero__p-pro
  &__p-pro {
    position: absolute;
    width: 16%;
    top: 0;
    left: 25px;
    aspect-ratio: 110 / 136;
    @media (max-width: 699.98px) {
      width: 40%;
      left: 0;
    }
  }
  // .image-hero__a-eff
  &__a-eff {
    position: absolute;
    width: 11%;
    top: 54px;
    right: 64px;
    aspect-ratio: 70 / 88;
    @media (max-width: 699.98px) {
      width: 30%;
      top: 30px;
      right: 40px;
    }
  }
}

.about-me {
  // .about-me__container
  &__container {
    overflow: hidden;
    text-align: center;
    & > * {
      margin-bottom: 20px;
    }
    @media (max-width: 699.98px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // .about-me__title
  &__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    @media (min-width: 399.98px) {
      padding-inline: 50px;
    }
    & {
      @include adaptiveValue("font-size", 60, 24);
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
    }
    @media (max-width: 399.98px) {
      &::after {
        width: 144%;
      }
    }
  }
  // .about-me__text
  &__text {
    max-width: 992px;
    text-transform: capitalize;
    margin-inline: auto;
    font-size: 18px;
    text-align: center;
    line-height: 223%;
    letter-spacing: -0.33px;
    &:not(:last-child) {
      margin-bottom: 117px;
    }
    @media (max-width: 799.98px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__foto {
    display: none;
    @media (max-width: 699.98px) {
      display: block;
      overflow: hidden;
      text-align: center;
    }
  }
  // .about-me__animated-text
  &__animated-text {
    max-width: 1050px;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    column-gap: 60px;
    @media (max-width: 699.98px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    @media (max-width: 399.98px) {
      max-width: 362px;
    }
    &__socials {
      display: none;
      @media (max-width: 699.98px) {
        display: block;
        overflow: hidden;
        text-align: center;
      }
      @media (max-width: 799.98px) {
        &:not(:last-child) {
          margin-bottom: 75px;
        }
      }
    }
  }
}
@keyframes animated-list {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes gradient-ball {
  34% {
    bottom: 80%;
    right: 95%;
  }
  66% {
    bottom: 75%;
    right: 30px;
  }
}
@keyframes gradient-ball2 {
  34% {
    top: 89%;
    left: 95%;
  }
  66% {
    top: 91%;
    left: 40px;
  }
}
.animated {
  // .animated__list
  &__list {
    display: flex;
    column-gap: 60px;
    flex-shrink: 0;
    animation: animated-list 10s infinite linear;
  }
  // .animated__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 60px;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 100%;
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
    }
  }
}
.my-be {
  margin-bottom: 2000px;
  // .my-be__container
  &__container {
    & > :not(:last-child) {
      margin-bottom: 120px;
    }
  }
  // .my-be__title
  &__title {
    position: relative;
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    @media (max-width: 767.98px) {
      padding-bottom: 4px;
      line-height: 1.25;
    }
    & {
      @include adaptiveValue("font-size", 60, 24);
    }
    &::after {
      content: "";
      position: absolute;
      width: 133.7%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
    }
  }
  // .my-be__slider
  &__slider {
    // display: grid;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 40px;
    // grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    // grid-auto-rows: 1fr;
  }
}

.slider {
  // .slider__item
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  // .slider__picture
  &__picture {
    transition: all 0.5s;
    position: relative;
    @media (max-width: 767.98px) {
      display: flex;
    }
    & img {
      width: 360px;
      height: 360px;
      position: relative;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    @media (max-width: 799.98px) {
      & img {
        width: 193px;
        height: 193px;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
    @media (any-hover: hover) {
      .slider__item:hover &::after {
        content: "";
        z-index: 1;
        position: absolute;
        inset: 0;
        background-color: hsla(0, 0%, 0%, 0.719);
        border: 2px solid #500478;
        transition:
          border-color 30s,
          background-color 30s;
      }
    }
    &::after {
      transition: all 5s;
    }
  }
  // .slider__img
  &__img {
  }
  // .slider__icon
  &__icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 2;
    & img {
      width: 120px;
      height: 120px;
      aspect-ratio: 100%; /* 120/120 */
      @media (max-width: 799.98px) {
        width: 64px;
        height: 64px;
      }
    }

    @media (any-hover: hover) {
      .slider__picture:hover & {
        top: 45%;
      }
    }
  }
  // .slider__text
  &__text {
    transition: all ease 0.3s;
    visibility: hidden;
    position: absolute;
    top: 70%;
    left: 20%;
    z-index: 2;
    transform: translate(0, -50%);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    @media (any-hover: hover) {
      .slider__picture:hover & {
        visibility: visible;
        display: block;
        top: 75%;
      }
    }
  }
  // .slider__label
  &__label {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    flex-shrink: 0;
    @media (max-width: 799.98px) {
      font-size: 14px;
      line-height: 107.143%;
    }
  }
}
